@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#666, #444, #222);
    background-attachment: fixed;
    background-size: cover;
}
.container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    padding: 1vh 2vw;
    margin: 5vh auto;
}
.zabbix_section{
    box-sizing: border-box;
    width: 45%;
    background: linear-gradient(#111, #222, #333);
    display: inline-block;
    margin: auto;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    float: left;
    cursor: pointer;
    color: rgb(211,31,38);
    border: 1px solid black;
}
.grafana_section{
    box-sizing: border-box;
    width: 45%;
    background: linear-gradient(#111, #222, #333);
    display: inline-block;
    margin: auto;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    float: right;
    cursor: pointer;
    color:rgb(255, 150, 13);
    border: 1px solid black;
}

.title {
    display: block;
    width: 100%;
    padding: 1vh;
    font-weight: bold;
    font-size: 3vw;
}
.title_bar {
    
    width: 0;
    height: 0.5vh;
    transition: all 0.5s ease;
    box-sizing: border-box;
    float: left;
    
}

.zabbix_section:hover > .title_bar {
    width: 100%;
    background-color: rgb(255, 73, 73);
    border-bottom: 1px solid rgb(243, 25, 25);
}
.grafana_section:hover > .title_bar {
    width: 100%;
    float: right;
    box-sizing: border-box;
    background-color: rgb(255, 159, 49);
    border-bottom: 1px solid rgb(194, 129, 32);
}
.zabbix_section:hover > .bg_img {
    background-size: 60%;
}
.grafana_section:hover > .bg_img {
    background-size: 60%;
}
.bg_img {
    width: 100%;
    display: block;
    height: 45vh;
    transition: all 0.5s ease;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.grafana_section > .bg_img {
    background: url("grafana_logo.png") black;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.zabbix_section > .bg_img {
    background: url("zabbix_logo.png") rgb(211,31,38);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1vw;
    width: 100%;
    background: linear-gradient(#111, #222, #333);
    text-align: right;
    color: rgb(161, 161, 161);
    padding: 2vh 1vw 2vh 0;
    box-sizing: border-box;
}
.footer img {
    width: 5vw;
}