body {
            background: url(bg.jpg);
            margin: 0px;
            padding: 0px;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            color: rgb(117, 156, 207);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .container {
            width: 100%;
            text-align: center;
            margin: auto;
            display: block;
        }
        .main_title {
            text-align: center;
            display: block;
            margin: auto;
            text-shadow: 1px -1px 1px black;
        }
        .section1, .section2 {
            
            width: 44%;
            display: inline-block;
            margin: auto;
            text-align: center;
            background: rgba(60, 60, 60, 0.5);
            transition: all 0.5s ease;
            border: 1px solid black;
            border-radius: 5px;
            overflow: hidden;
            
        }
        .img {
            padding: 15px;
        }
        .img img {
            border-radius: 512px;
            border: 2px groove gray;
            background: black;
            width: 60%;
            
        }
        .title {
            padding: 10px;
            background: rgba(0, 0, 0, 0.3);
            display: block;
            font-size: 24px;
            color: white;
            text-shadow: 1px 0px 1px #010101;
        }
        .section1:hover, .section2:hover {
            background: rgba(80, 80, 80, 0.3);
            cursor: pointer;
            width: 45%;
        }
        .section1 .title {
            color: #ee564b;
        }
        .section2 .title {
            color: #feae00;
        }
        .footer {
            padding: 10px 0px 10px 0px;
            font-size: 16px;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            color: rgb(117, 156, 207);
            margin: auto;
            display: block;
            text-align: center;
            background: rgba(20, 20, 20, 0.8);
        }
        hr {
            border-color: black;
        }